In [43]:
%matplotlib inline
import numpy as np
import pandas as pd
import scipy
import sklearn
import matplotlib.pyplot as plt
import seaborn as sns
import os

In [54]:
yelddf = pd.read_csv('./sentiment labelled sentences/yelp_labelled.txt', delimiter= '\t', header=None)
yelddf.head(1)

                          0  1
0  Wow... Loved this place.  1

In [45]:
imdbdf = pd.read_csv('./sentiment labelled sentences/imdb_labelled.txt', delimiter= '\t', header=None)
imdbdf.head(1)

                                                   0  1
0  A very, very, very slow-moving, aimless movie ...  0

In [46]:
amazondf = pd.read_csv('./sentiment labelled sentences/amazon_cells_labelled.txt', delimiter= '\t', header=None)
amazondf.head(1)

                                                   0  1
0  So there is no way for me to plug it in here i...  0

In [47]:
frame=[yelddf,imdbdf,amazondf]

df = pd.concat(frame)
df.columns = ['Content', 'Spam']

In [59]:
specialchar=['\\',',','/',':',';',"'",'"','.','-','_','+','&','$','%','@','!','(',')']

for i in specialchar:
    df['Content'] = df['Content'].str.replace(i,'')
df.head(1)

                Content  Spam
0  Wow Loved this place     1

In [51]:
spamdf=df[df['Spam']==1]
spamdf.head(4)

                                             Content  Spam
0                               Wow Loved this place     1
3  Stopped by during the late May bank holiday of...     1
4  The selection on the menu was great and so wer...     1
8                           The fries were great too     1

In [64]:
Word = pd.Series(' '.join(df['Content']).lower().split()).value_counts()[:]
Word.head(1)

the    1940
dtype: int64

In [65]:
SpamWord = pd.Series(' '.join(spamdf['Content']).lower().split()).value_counts()[:]

In [66]:
SpamWord # stop word

the              954
and              661
a                448
i                411
is               397
this             316
it               296
of               286
to               286
was              248
in               201
great            190
good             170
with             155
for              152
very             142
my               123
that             123
on               109
are               96
have              91
you               90
so                87
phone             86
as                85
film              84
movie             84
but               83
its               82
had               71
                ...
spoilers           1
travled            1
practically        1
marys              1
rices              1
minute             1
unpredictable      1
functional         1
companys           1
falafels           1
happened           1
lid                1
prays              1
otherwise          1
finest             1
colder             1
koteasjack         1
yellow             1
additional         1
don                1
ann                1
familiar           1
auju               1
usage              1
stephen            1
spicier            1
bechard            1
periods            1
supernatural       1
alert              1
Length: 3425, dtype: int64